name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Build Linux
        env:
          GOOS: linux
          GOARCH: amd64
        run: go build -v -o TraceParse-linux-amd64 ./cmd

      - name: Build Windows
        env:
          GOOS: windows
          GOARCH: amd64
        run: go build -v -o TraceParse-windows-amd64.exe ./cmd

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            TraceParse-linux-amd64
            TraceParse-windows-amd64.exe
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
